asgiref==3.11.0
beautifulsoup4==4.14.3
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==5.2.10
django-cors-headers==4.9.0
djangorestframework==3.16.1
docxtpl==0.20.2
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.0
pip==23.0.1
playwright==1.49.1
pycparser==2.23
pypdfium2==5.3.0
python-docx==1.2.0
reportlab==4.4.9
setuptools==79.0.1
soupsieve==2.8.2
sqlparse==0.5.5
typing_extensions==4.15.0
